<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        @input(template/head.content)
    </head>

    <body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
				@content()

				@input(template/footer.content)
			</div>

		<!-- Scripts -->
			<script src="@pathtofile($[output-dir]/assets/js/jquery.min.js)"></script>
			<script src="@pathtofile($[output-dir]/assets/js/jquery.scrollex.min.js)"></script>
			<script src="@pathtofile($[output-dir]/assets/js/jquery.scrolly.min.js)"></script>
			<script src="@pathtofile($[output-dir]/assets/js/browser.min.js)"></script>
			<script src="@pathtofile($[output-dir]/assets/js/breakpoints.min.js)"></script>
			<script src="@pathtofile($[output-dir]/assets/js/util.js)"></script>
			<script src="@pathtofile($[output-dir]/assets/js/main.js)"></script>

    </body>
</html>

